/* v1 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;800;900&display=swap');
html {
    font-family: 'Montserrat';
}

* {
    margin: 0;
    padding: 0;
}
.-c {
    display: flex;
    justify-content: center;
    align-items: center;
}
.-l {
    display: flex;
    justify-content: left;
    align-items: center;
}
.-r {
    display: flex;
    justify-content: right;
    align-items: center;
}

/* v2 */

a {
    text-decoration: none;
}

* {
    list-style-type: none;
}

.-br1 {
  border-radius: 1rem;
}
.-br2 {
  border-radius: 2rem;
}
.-br3 {
  border-radius: 3rem;
}
.-br4 {
  border-radius: 4rem;
}
.-br5 {
  border-radius: 5rem;
}
.-br6 {
  border-radius: 6rem;
}
.-bg-red {
  background-color: #da3434;
}
/* v3 */
.-mt1 {
  margin-top: 1rem;
}
