/* v1 */

* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
.-c {
    display: flex;
    justify-content: center;
    align-items: center;
}
.-l {
    display: flex;
    justify-content: left;
    align-items: center;
}
.-r {
    display: flex;
    justify-content: right;
    align-items: center;
}
.-c .-l .-e .logo img{
    width: 36px;
}

/* v2 */

.-btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    color: white;
    background-color: #4c00ff;
    border-radius: 2rem;
}
a {
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    list-style-type: none;
}

.-br1 {
  border-radius: 1rem;
}
.-br2 {
  border-radius: 2rem;
}
.-br3 {
  border-radius: 3rem;
}
.-br4 {
  border-radius: 4rem;
}
.-br5 {
  border-radius: 5rem;
}
.-br6 {
  border-radius: 6rem;
}
.-bg-red {
  background-color: #da3434;
}